{% extends 'base.html' %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <h2>COMPLETED '{{response.countCompleted}}'</h2>
                        <div class="list-group w-auto">
                            {% for task in response.completed %}
                                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                    <!--<img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">-->
                                    <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">{{task.id}}</h6>
                                        <p class="mb-0 opacity-75">{{task.name}}</p>
                                    </div>
                                    <small class="opacity-50 text-nowrap">{{task.status}}</small>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <!--<ul>
                            {% for task in response.completed %}
                                <li>
                                    {{task.id}} - {{task.name}} - {{task.status}}
                                </li>
                            {% endfor %}
                        </ul>-->
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <h2>INCOMPLETED '{{response.countIncompleted}}'</h2>
                        <div class="list-group w-auto">
                            {% for task in response.incompleted %}
                                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                    <!--<img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">-->
                                    <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">{{task.id}}</h6>
                                        <p class="mb-0 opacity-75">{{task.name}}</p>
                                    </div>
                                    <small class="opacity-50 text-nowrap">{{task.status}}</small>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <!--<ul>
                            {% for task in response.incompleted %}
                                <li>
                                    {{task.id}} - {{task.name}} - {{task.status}}
                                </li>
                            {% endfor %}
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--POST-->
    <div id="Agregar" style="display: '';">
        <div>
            <br>
            <h3>Agregar Tarea</h3>
        </div>
        <div>
            <form method="post">
                <div>
                    <input type="text" name="name" id="name" placeholder="Write your task...">
                </div>
                <div>
                    <button type="submit">Agregar tarea</button>
                </div>
            </form>
        </div>
    </div>
    <!--PUT-->
    <div id="Editar" style="display: '';">
        <div>
            <br>
            <h3>EditarTarea</h3>
        </div>
        <div>
            <form method="put">
                <div>
                    <input type="text" name="name2" id="name2" placeholder="Write your new task...">
                </div>
                <div>
                    <input type="text" name="status" id="status" placeholder="Write your new status...">
                </div>
                <div>
                    <button type="submit">Editar tarea</button>
                </div>
            </form>
        </div>
    </div>
    <!--DELETE-->
    <div id="Eliminar" style="display: '';">
        <div>
            <br>
            <h3>Eliminar Tarea</h3>
        </div>
        <div>
            <form method="delete">
                <div>
                    <input type="text" name="id" id="id" placeholder="Write your id...">
                </div>
                <div>
                    <button type="submit">Eliminar tarea</button>
                </div>
            </form>
        </div>
    </div>
    <br>

{% endblock %}